@charset "UTF-8";
@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,700;1,300;1,700&display=swap");
/* Setup: Run the following in Terminal:
   sass --watch stylesheets/stylesheet.scss:stylesheets/stylesheet.css 
*/
/* GENERAL •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••*/
:root {
  --BGColor: #eceae8;
  --TextColor: #222;
  --LinkColor: #555;
  --LinkHoverColor: #888;
  --ProjectContainerBG: #222;
  --BorderColor: #2223;
  --SelectionBG: #55423222;
  --navHeight: 6rem;
  --navWidth: 1200px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Alegreya Sans", sans-serif;
  position: relative;
  color: #322621;
  background: #eceae8;
  font-size: 17px;
}

#main {
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

nav, .footer {
  display: flex;
  flex-direction: row;
  height: var(--navHeight);
  max-width: var(--navWidth);
  width: 100%;
  padding: 2rem 0;
  justify-content: space-between;
  align-items: center;
}

nav {
  position: fixed;
  background: #eceae8;
  z-index: 100;
}
nav a {
  text-transform: uppercase;
  margin: 0.5rem 1rem 0.5rem 0;
  letter-spacing: 1.1px;
}
nav > span {
  display: flex;
  justify-content: flex-start;
}
@media (max-width: 1200px) {
  nav > span {
    width: 200px;
  }
}
nav > span:last-child {
  display: flex;
  justify-content: flex-end;
}
nav #insta, nav #patreon {
  margin: 0.45rem 0 0.45rem 1.5rem;
  margin: 0.45rem 1.5rem 0.9rem 0;
}
@media (max-width: 1200px) {
  nav #insta, nav #patreon {
    order: 2;
    margin-top: 0.75rem;
  }
}

.triplebar {
  display: none;
  font-size: 2.5em;
  cursor: pointer;
}

/* Project Grid ---------------------------------------------------------------*/
#projectgrid {
  max-width: 1200px;
  margin: auto;
  margin: 6rem 3px 0 1px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1px 2px;
}

.projectContainer {
  width: 100%;
  height: 26rem;
  margin: 1px;
  background: var(--ProjectContainerBG);
  position: relative;
}
.projectContainer:hover img {
  opacity: 0.5;
}
.projectContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projectDescription {
  display: flex;
  flex-direction: column;
  align-items: center; /* Vertical center alignment */
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  color: #fff;
  opacity: 0;
  line-height: 2em;
  text-align: center;
  cursor: pointer;
}
.projectDescription .dates {
  font-weight: 600;
  opacity: 0.75;
  font-size: 0.85rem;
}
.projectDescription p:first-child {
  font-size: 1.25em;
  font-weight: 700;
  letter-spacing: 1.1px;
  line-height: 1.5rem;
  text-transform: uppercase;
  padding: 0 0.5rem;
}

.projectContainer:hover .projectDescription {
  opacity: 1;
  backdrop-filter: blur(3px);
  width: 100%;
  height: 100%;
}

/* Footer -------------------------------------------------------------------*/
.footer {
  display: flex;
  width: 100%;
  border-top: 1px solid var(--BorderColor);
  border-bottom: none;
  margin-top: 1rem;
  margin-bottom: 0;
}

/* General Typography -------------------------------------------------------*/
a {
  cursor: pointer;
  color: var(--LinkColor);
  text-decoration: none;
}
a:hover {
  color: var(--LinkHoverColor);
}

em {
  font-style: italic;
}

::selection {
  background: var(--SelectionBG);
}

/* Images -------------------------------------------------------------------*/
#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 3.75rem;
  background: url("../images/about/logo.svg") center no-repeat;
  background-size: contain;
  aspect-ratio: 1/1;
}
#logo.cake {
  width: 5.5rem;
  background-image: url("../images/about/cake.png");
}

/* Transitions ---------------------------------------------------------------*/
a, .projectContainer img, .projectContainer .projectDescription,
#pullup, #pullupToggle {
  transition: all 0.3s ease-out;
}

body {
  animation: fadeInAnimation 1.5s ease-out;
  animation-iteration-count: 1;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Queries -------------------------------------------------------------------*/
@media (min-width: 1260px) {
  nav > span:first-child {
    margin-left: -0.5rem;
  }
}
@media (max-width: 1261px) {
  nav, footer.footer {
    padding: 0 2rem;
  }
  #projectgrid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 960px) {
  #projectgrid {
    flex-flow: column wrap;
  }
  .footer {
    border-top: none;
    margin-top: 0;
  }
}
@media (max-width: 600px) {
  #projectgrid {
    grid-template-columns: 1fr;
  }
  .projectContainer img {
    opacity: 0.5;
  }
  .projectContainer .projectDescription {
    opacity: 1;
  }
  .projectContainer:hover img {
    opacity: 1;
  }
  .projectContainer:hover .projectDescription {
    opacity: 0;
  }
}
/* INCLUDES •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••*/
:root {
  --maxWidth: 1196px;
  --spotColor: #AEABA3;
}

#pullup {
  display: block;
  position: fixed;
  top: 100%;
  left: 0;
  width: 100%;
  height: calc(100vh - 6rem);
  padding: 5rem 5rem 0rem 5rem;
  background: #eceae8;
  z-index: 1;
  overflow: scroll;
  scroll-behavior: smooth;
}

#pullup.setScroll {
  scroll-behavior: auto;
}

#pullup.show {
  top: 6rem;
}

#pullupToggle {
  display: block;
  position: absolute;
  left: calc(50vw - 0.75rem);
  top: 0rem;
  padding: 0 0 0 2rem;
  width: 1rem;
  height: 1rem;
  transform: rotate(90deg) scale(1.5, 2.5);
  z-index: 1;
  color: #fff;
  cursor: pointer;
  opacity: 0.8;
}

#pullupToggle::selection {
  background: none;
}

#pullupToggle:hover {
  opacity: 0.5;
}

#pullup .hero::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2666666667);
}

/* Pullup Hero -------------------------------------------------------------*/
#pullup .hero {
  display: flex;
  flex-flow: column wrap;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20rem;
  background: url(https://fungi.sorrelsprout.com/resources/heroes/hero.jpg) no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  justify-content: center;
}

#pullup .hero::before {
  backdrop-filter: blur(3px);
  width: 100%;
  height: 100%;
}

#pullup .hero h1,
#pullup .hero p {
  font-size: 2em;
  text-align: center;
  z-index: 1;
  color: #fff;
  margin-bottom: 1rem;
}

#pullup #pullupContent h1 {
  font-size: 1.68em;
  font-weight: 700;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  text-align: center;
}

#pullup .hero p {
  font-size: 1em;
}

/* Pullup Description ------------------------------------------------------*/
#pullup .fullDescription {
  margin: 18rem auto 0 auto;
  max-width: var(--maxWidth);
  width: 100%;
}

#pullup #pullupContent {
  display: none;
}

#pullup #pullupContent.show {
  display: flex;
}

/* About -------------------------------------------------------------------*/
#pullup #profilePhoto {
  display: block;
  position: absolute;
  left: calc(50vw - 4rem);
  top: 16rem;
  width: 8rem;
  height: 8rem;
  margin-bottom: 0;
  object-fit: cover;
  box-shadow: 0 0 0 0.4rem #eceae8;
  background: #eceae8;
  border-radius: 100% !important;
  z-index: 1;
}

#pullup span.aboutSection {
  display: block;
  margin-top: 1rem;
}

@media (max-width: 600px) {
  #pullup span.aboutSection {
    margin-top: 3rem;
  }
}
/* Footer -------------------------------------------------------------------*/
#pullup .footer {
  margin: 2rem auto 0 auto;
  border-top: 1px solid var(--BorderColor);
}

#pullup .footer .copyright, #pullup .footer i {
  padding: 0;
  margin: 0;
  font-style: normal;
}

#pullup .footer .btt {
  border-bottom: none;
}

/* Pullup Typography -------------------------------------------------------*/
#pullup h1, #pullup h2, #pullup h3, #pullup h4, #pullup h5, #pullup h6, #pullup .notableFloraFunga::before {
  line-height: 1.2em;
  font-weight: 700;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

#pullup h2, #pullup .notableFloraFunga::before {
  border-top: 1px solid var(--BorderColor);
  margin-top: 3rem;
  padding-top: 3rem;
  font-size: 1.65em;
  color: var(--spotColor);
}

#pullup h2:first-of-type {
  border-top: none;
  margin-top: 0;
  padding-top: 2rem;
}

#pullup h3 {
  font-size: 1.125em;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

#pullup h4 {
  font-size: 0.95em;
  margin-bottom: 1rem;
  font-style: italic;
}

#pullup p, #pullup ul {
  line-height: 1.68em;
  margin-bottom: 1em;
}

#pullup ul {
  list-style-type: disc;
  margin-left: 1.2rem;
}

#pullup a {
  font-weight: 600;
  border-bottom: 1px solid var(--TextColor);
}

#pullup b {
  font-weight: 600;
}

#pullup i {
  font-style: italic;
}

/* Pullup Image + Gallery ----------------------------------------------------*/
#pullup .gallery {
  display: flex;
  max-width: 100%;
}

#pullup .gallery + .gallery {
  margin-top: -2rem;
}

#pullup img {
  display: block;
  max-width: 100%;
  width: 100%;
  margin-bottom: 2.5rem;
  padding: 2px;
  border-radius: 0.5rem;
  overflow: hidden;
  cursor: zoom-in;
}

#pullup img.fullScreenImg {
  position: fixed;
  top: var(--navHeight);
  left: 0;
  width: 100%;
  max-width: unset !important;
  height: calc(100% - var(--navHeight));
  object-fit: contain !important;
  background-color: #fff;
  z-index: 1;
  padding: 1rem;
  border-radius: 0;
  cursor: zoom-out;
}

#pullup figure {
  max-width: 100%;
  margin-bottom: 2.5rem;
  flex: 1;
}

#pullup figure img {
  margin-bottom: 0.5rem;
}

#pullup figcaption {
  font-size: 0.9em;
  font-style: italic;
  text-align: center;
}

/* Gallery Grid */
#pullup .gallery.col2 > img, #pullup .gallery.col2 > figure {
  max-width: 50%;
  object-fit: cover;
}

#pullup .gallery.col3 > img, #pullup .gallery.col3 > figure {
  max-width: 33.3%;
  object-fit: cover;
}

/* Notable Flora + Funga -----------------------------------------------------*/
#pullup .notableFloraFunga {
  padding-bottom: 1.25rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

#pullup .notableFloraFunga::before {
  content: "Notable Flora & Funga";
  display: block;
}

#pullup .notableFloraFunga > div {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  background: #f6f5f3;
  border-radius: 0.25rem;
}

#pullup .notableFloraFunga > div > * {
  font-size: 0.85rem;
  min-width: 8rem;
}

#pullup .notableFloraFunga > div > *:not(:first-child) {
  margin-top: 1rem;
}

#pullup .notableFloraFunga > div h3 {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 0;
  white-space: nowrap;
}

#pullup .notableFloraFunga > div h3 a {
  border-bottom: none;
}

#pullup .notableFloraFunga > div h3 img {
  width: 16rem;
  margin-bottom: unset;
  aspect-ratio: 1/1;
  object-fit: cover;
}

#pullup .notableFloraFunga > div .names {
  white-space: nowrap;
  padding-right: 1rem;
  border-right: 1px solid var(--BorderColor);
}

#pullup .notableFloraFunga > div .scientific {
  font-style: italic;
}

@media (max-width: 600px) {
  #pullup .notableFloraFunga > div {
    flex-wrap: wrap;
  }
  #pullup .notableFloraFunga > div .names {
    border-right: unset;
    margin-top: 0;
    margin-bottom: 0;
  }
  #pullup .notableFloraFunga > div .about {
    flex: 1 100%;
    margin-top: 0;
  }
}
/* Queries -------------------------------------------------------------------*/
@media (max-width: 600px) {
  #pullup {
    padding: 3.5rem 2.2rem 2rem 2.2rem;
  }
  #pullup .gallery {
    flex-direction: column;
  }
  #pullup .gallery + .gallery {
    margin-top: 0;
  }
  #pullup .gallery.col2 > figure, #pullup .gallery.col3 > figure {
    max-width: 100%;
  }
  #pullup .gallery.col2 > img, #pullup .gallery.col3 > img {
    max-width: 100%;
  }
}
/* Mobile Nav ---------------------------------------------------------------*/
.mobile .triplebar {
  display: block;
  position: fixed;
  z-index: 101;
}

.mobile #logo {
  display: fixed;
  /* margin-left: calc(50vw - 3.25rem); */
}

.mobile .mobileMenu {
  position: fixed;
  flex-direction: column;
  top: 0;
  left: 0;
  margin-left: -16rem;
  width: 14rem;
  height: 100vh;
  padding: 5rem 2.2rem;
  background: var(--BGColor);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.mobile #navlinksPopup {
  top: 0;
  height: 100vh;
}

.mobile .mobileMenu a {
  margin-bottom: 1rem;
}

.mobile .mobileMenu.expanded {
  margin-left: 0rem;
}

.mobile .mobileMenu:last-child {
  top: 12.75rem;
  background: none;
  padding: 0 2.2rem;
  justify-content: flex-start;
  box-shadow: none;
}

/* VARIABLES •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••*/
/* CONTACT POPUP •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••*/
.button {
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.25em;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  color: #615049;
  display: block;
  padding: 1rem;
  background: #322621;
  color: #eceae8;
  text-decoration: none;
  border: none;
  transition: 0.25s ease;
  font-weight: 300;
  cursor: pointer;
  color: #eceae8;
  background: #615049;
  transition: 0.25s ease;
}
.button:hover {
  opacity: 0.75;
}
.button:hover::after {
  opacity: 1;
}

#navlinksPopup {
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.5333333333);
  top: 6rem;
  left: 0;
  width: 100vw;
  height: calc(100vh - 6rem);
  z-index: 100;
}
#navlinksPopup.engaged {
  display: block;
}
#navlinksPopup.about .content.aboutContent {
  display: flex;
}
#navlinksPopup.about .content.aboutContent img {
  width: 8rem;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 100%;
}
@media screen and (max-width: 768px) {
  #navlinksPopup.about .content.aboutContent img {
    width: 5rem;
  }
}
#navlinksPopup.about .content.aboutContent p {
  text-align: left;
}
#navlinksPopup.contact .content.contactContent {
  display: flex;
}
#navlinksPopup.pricing .content.pricingContent {
  display: flex;
}
#navlinksPopup.cookieDrop .content.cookieDropContent {
  display: flex;
}
#navlinksPopup .content {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 50vh;
  left: calc(50% - 2rem);
  transform: translate(-50%, calc(-50% - 6rem));
  width: calc(100% - 4rem);
  max-width: 32rem;
  margin: 2rem;
  padding: 2rem;
  background: #eceae8;
  align-items: center;
  border-radius: 0.5rem;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  #navlinksPopup .content {
    top: 50%;
    transform: translate(-50%, calc(-50% - 6rem));
  }
}
#navlinksPopup .content > * {
  text-align: center;
}
#navlinksPopup .content h2, #navlinksPopup .content h3 {
  color: #322621;
  text-transform: uppercase;
}
#navlinksPopup .content h2 {
  font-size: 2rem;
  letter-spacing: 0.125rem;
}
#navlinksPopup .content h2:not(:last-child) {
  margin-bottom: 0.5rem;
}
#navlinksPopup .content h3 {
  font-size: 1.5rem;
  letter-spacing: 0.15rem;
}
#navlinksPopup .content p {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.68em;
  color: #615049;
  font-size: 0.925rem;
  letter-spacing: normal;
  text-transform: none;
}
#navlinksPopup .content a {
  font-weight: 800;
  color: #948178;
}

.contactForm {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contactForm .formGroupContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem 0;
}
.contactForm .formGroupContainer * {
  text-align: left;
}
.contactForm .formGroupContainer .formGroup {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
}
.contactForm .formGroupContainer .formGroup label {
  position: absolute;
  top: -0.35rem;
  left: 0.35rem;
  padding: 0 0.35rem;
  background: linear-gradient(to bottom, #eceae8, #eceae8 40%, #eceae8 40%, #eceae8 100%);
  border-radius: 0.25rem;
  color: #615049;
}
.contactForm .formGroupContainer .formGroup input, .contactForm .formGroupContainer .formGroup textarea {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.68em;
  color: #615049;
  font-size: 0.925rem;
  flex: 1;
  padding: 1.05rem 0.7rem 0.7rem 0.7rem;
  color: #322621;
  background: #eceae8;
  border: 1px solid rgba(148, 129, 120, 0.5098039216);
  border-radius: 0.25rem;
}
.contactForm .formGroupContainer .formGroup input:-webkit-autofill, .contactForm .formGroupContainer .formGroup textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #eceae8 inset;
  -webkit-text-fill-color: #948178 !important;
}
.contactForm .formGroupContainer .formGroup input:focus, .contactForm .formGroupContainer .formGroup textarea:focus {
  outline: none;
  border: 2px solid rgba(97, 80, 73, 0.5019607843);
  margin: -1px 0;
}
.contactForm .formGroupContainer .formGroup input:focus:first-child, .contactForm .formGroupContainer .formGroup textarea:focus:first-child {
  margin: 0 0 -1px 0;
}
.contactForm .formGroupContainer .formGroup input:focus:last-child, .contactForm .formGroupContainer .formGroup textarea:focus:last-child {
  margin: -1px 0 0 0;
}
.contactForm .formGroupContainer .formGroup textarea {
  min-height: 8rem;
  resize: vertical;
}
.contactForm .formGroupContainer .formGroup .required::after {
  content: "*";
  display: inline-block;
  margin-left: 0.125rem;
  color: #f87d58;
}
.contactForm .formSubmit {
  margin: auto;
}

#navlinksPopup .pricingContent.cookiesComm .cookiesComm {
  display: flex;
}
#navlinksPopup .pricingContent.cupcakesComm .cupcakesComm {
  display: flex;
}
#navlinksPopup .pricingContent.cakeComm .cakeComm {
  display: flex;
}
#navlinksPopup .pricingContent > * {
  flex-direction: column;
  width: 100%;
}
#navlinksPopup .pricingContent > *.cookiesComm, #navlinksPopup .pricingContent > *.cupcakesComm, #navlinksPopup .pricingContent > *.cakeComm {
  display: none;
}
#navlinksPopup .pricingContent h4 {
  line-height: 150%;
}
#navlinksPopup .pricingContent .commissionPriceNav {
  width: auto;
  flex-direction: row;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 2rem;
  margin: 1rem 0;
  border-bottom: 1px solid rgba(148, 129, 120, 0.5098039216);
}
#navlinksPopup .pricingContent .commissionPriceNav div {
  margin-bottom: -1px;
  padding-bottom: calc(0.25rem - 1px + 0.125rem);
  border-bottom: 1px solid transparent;
  transition: 0.25s ease;
  cursor: pointer;
}
#navlinksPopup .pricingContent .commissionPriceNav div:not(.selected):hover {
  padding-bottom: 0.125rem;
  border-bottom: 0.25rem solid rgba(148, 129, 120, 0.5098039216);
}
#navlinksPopup .pricingContent .commissionPriceNav div.selected {
  padding-bottom: 0.125rem;
  border-bottom: 0.25rem solid #615049;
}
#navlinksPopup .pricingContent hr {
  flex: 1 100%;
  opacity: 0.5;
  width: 100%;
}
#navlinksPopup .pricingContent ul {
  display: flex;
  width: calc(100% - 0.65rem);
  flex-direction: column;
  align-items: flex-start;
  margin-left: 0.65rem;
}
#navlinksPopup .pricingContent ul li {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  line-height: 125%;
}
#navlinksPopup .pricingContent ul li:not(:last-child) {
  margin-bottom: 0.5rem;
}
#navlinksPopup .pricingContent ul li:has(hr) {
  margin: 0rem 0 -0.5rem 0;
}
#navlinksPopup .pricingContent ul li:not(:has(hr))::before {
  position: absolute;
  content: "●";
  top: 0;
  left: -0.775rem;
  transform: scale(0.5);
}
#navlinksPopup .pricingContent .button {
  margin: 2rem auto auto auto;
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.25em;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  color: #615049;
  display: block;
  padding: 0.75rem 1rem;
  background: #322621;
  color: #eceae8;
  text-decoration: none;
  border: none;
  transition: 0.25s ease;
  font-size: 0.875rem;
  font-weight: 300;
  cursor: pointer;
  color: #eceae8;
  background: #615049;
  transition: 0.25s ease;
}

#navlinksPopup .cookieDropContent h4 {
  line-height: 150%;
}
#navlinksPopup .cookieDropContent p {
  margin: 2rem;
}
#navlinksPopup .cookieDropContent .imgContainer {
  position: relative;
  width: 100%;
  max-height: 20rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
#navlinksPopup .cookieDropContent .imgContainer img {
  flex: 1;
  width: 50%;
  border-radius: 0.25rem;
}

/*# sourceMappingURL=stylesheet.css.map */
