@import "./reset.css";

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,700;1,300;1,700&display=swap');

/* Setup: Run the following in Terminal:
   sass --watch stylesheets/stylesheet.scss:stylesheets/stylesheet.css 
*/

$BGColor: #eceae8;
$coffee: #322621;
$lightCoffee: #615049;
$lightCoffee50: #61504980;
$verylightCoffee: #948178;
$verylightCoffeeBorder: #94817882;
$warning: #f87d58;

$navHeight: 6rem;
$navWidth: 1200px;
$bodyMaxWidth: 1600px;
$mobileBreakpoint: 1200px;
$pageMargin: 2rem; 

/* GENERAL •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••*/

:root {
  --BGColor: #eceae8;
  --TextColor: #222;
  --LinkColor: #555;
  --LinkHoverColor: #888;
  --ProjectContainerBG: #222;
  --BorderColor: #2223;
  --SelectionBG: #55423222;
  --navHeight: 6rem;
  --navWidth: 1200px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Alegreya Sans', sans-serif;
  position: relative;
  color: $coffee;
  background: $BGColor;
  font-size: 17px;
}

#main {
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

nav, .footer {
  display: flex;
  flex-direction: row;
  height: $navHeight;
  max-width: var(--navWidth);
  width: 100%;
  padding: 2rem 0;
  justify-content: space-between;
  align-items: center;
}

nav {
  position: fixed;
  background: $BGColor;
  z-index: 100;

  a {
    text-transform: uppercase;
    margin: 0.5rem 1rem 0.5rem 0;
    letter-spacing: 1.1px;
  }
  > span {
    display: flex;
    justify-content: flex-start;
    @media (max-width: $mobileBreakpoint){ width: 200px; }
    &:last-child {
      display: flex;
      justify-content: flex-end;
      // a:last-child { margin: 0.5rem 0; }
    }
  }

  #insta, #patreon { 
    margin: 0.45rem 0 0.45rem 1.5rem;
    margin: 0.45rem 1.5rem 0.9rem 0;
    @media (max-width: $mobileBreakpoint){ 
      order: 2;
      margin-top: 0.75rem;
      // margin: 0.45rem 1.5rem 0.9rem 0;
    }
  }
}

.triplebar {
  display: none;
  font-size: 2.5em;
  cursor: pointer;
}

/* Insta Grid -----------------------------------------------------------------*/

.instaWidget {
  max-width: $navWidth;
  width: 100%;
  margin-top: $navHeight;

  .crt-feed {
    margin: -1px;
    > * { 
        transform: scale( 0.995);
        padding: 0 !important;
    }
    .crt-grid-post-tokyo {
        .crt-grid-post-content,
        .crt-post-hover,
        .crt-grid-post-image {
          border-radius: 0 !important;
      }
    }
    .crt-feed-window { margin-bottom: 1rem; }
  }


  button.crt-load-more {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.25em;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: $lightCoffee;
    display: block;
    margin: $pageMargin auto auto auto;
    padding: 0.75rem 1rem;
    background: $lightCoffee;
    color: #fff;
    text-decoration: none;
    border: none;
    transition: 0.25s ease;
    font-size: 0.875rem;
    font-weight: 300;
    cursor: pointer;
    transition: 0.25s ease;
    &:hover { opacity: 0.75; }
  }
}

/* Project Grid ---------------------------------------------------------------*/

#projectgrid {
  max-width: 1200px;
  margin: auto;
  margin: 6rem 3px 0 1px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1px 2px;
}

.projectContainer {
  width: 100%;
  height: 26rem;
  margin: 1px;
  background: var(--ProjectContainerBG);
  position: relative;

  &:hover img { opacity: 0.5; }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.projectDescription {
  display: flex;
  flex-direction: column;
  align-items: center; /* Vertical center alignment */
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  color: #fff;
  opacity: 0;
  line-height: 2em;
  text-align: center;
  cursor: pointer;

  .dates { font-weight: 600; opacity: 0.75; font-size: 0.85rem; }
  p:first-child {
    font-size: 1.25em;
    font-weight: 700;
    letter-spacing: 1.1px;
    line-height: 1.5rem;
    text-transform: uppercase;
    padding: 0 0.5rem;
  }
}

.projectContainer:hover .projectDescription {
  opacity: 1;
  backdrop-filter: blur(3px);
  width: 100%;
  height: 100%;
}


/* Footer -------------------------------------------------------------------*/

.footer {
    display: flex;
    width: 100%;
    border-top: 1px solid var(--BorderColor);
    border-bottom: none;
    margin-top: 1rem;
    margin-bottom: 0;
}


/* General Typography -------------------------------------------------------*/

a:not(.button) {
  cursor: pointer;
  color: var(--LinkColor);
  text-decoration: none;
  &:hover { color: var(--LinkHoverColor); }
}

em { font-style: italic;}

::selection { background: var(--SelectionBG); }

/* Images -------------------------------------------------------------------*/

#logo{ 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 3.75rem;
  background: url("../images/about/logo.svg") center no-repeat;
  background-size: contain;
  aspect-ratio: 1 / 1;
  &.cake {
    width: 5.5rem;
    background-image: url("../images/about/cake.png");
  }
}

/* Transitions ---------------------------------------------------------------*/

a, .projectContainer img, .projectContainer .projectDescription,
#pullup, #pullupToggle {
  transition: all 0.3s ease-out;
}

body {
  animation: fadeInAnimation 1.5s ease-out;
  animation-iteration-count: 1;
}

@keyframes fadeInAnimation {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* Queries -------------------------------------------------------------------*/

@media (min-width: 1260px){
  nav > span:first-child { margin-left: -0.5rem; }
}

@media (max-width: 1261px){
  nav, footer.footer { padding: 0 2rem; }
  #projectgrid { grid-template-columns: 1fr 1fr; }
}

@media (max-width: 960px){
  #projectgrid {
    flex-flow: column wrap;
  }
  .footer {
    border-top: none;
    margin-top: 0;
  }
}

@media (max-width: 600px){
  #projectgrid { grid-template-columns: 1fr; }
  .projectContainer img { opacity: 0.5; }
  .projectContainer .projectDescription { opacity: 1; }
  .projectContainer:hover img { opacity: 1; }  
  .projectContainer:hover .projectDescription { opacity: 0; }
}

/* INCLUDES •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••*/

@import "./pullup";
@import "./mobile";

@import "./navPopups";
@import "./popovers/pricing";
@import "./popovers/cookieDrop";